*{
    display: flex;
    flex-direction: column;
}
a{
    font-size: .8rem;
}
.amizades-container{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    max-height: 415px;
    box-shadow: 2px 1px 3px #b3bfd0;
}  
.caixa-amizades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
} 
.amigo{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 120px;
}
.moldura-amigo{
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: 2px solid;
}
.amigo .nome{
    margin-top: 10px;
}
.btn-todos{
    font-weight: bold;
    border-bottom: 1px solid;
    width: fit-content;
    font-size: .7rem;
}