*{
    display: flex;
    flex-direction: column;
}
a{
    font-size: .8rem;
}
.amizades-container{
    background-color: white;
    padding: 10px;
    height: auto;
    max-height: 415px;
}  
.caixa-amizades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
} 
.amigo{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 120px;
}
.amigo .nome{
    margin-top: 10px;
}
.btn-todos{
    font-weight: bold;
    border-bottom: 1px solid;
    width: fit-content;
    font-size: .7rem;
}