.info-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    background-color: white;
    border-radius: 5px 50px 5px 5px;
    padding: 15px 12px;
    box-shadow: 2px 1px 3px #b3bfd0;
}
hr{
    margin: 10px auto;
}
.frasePerfil{
    width: 95%;
    height: 21px;
    margin:15px 0;
    border: .1px solid #dce5ec;
    display: flex;
    align-items: center;
    font-size: .72rem;
    color: black;
    padding: 12px 6px;
}
.frasePerfil:focus{
    outline:#dce5ec;
}
.icones{
    display: flex;
    align-items: center;
}
.icones img{
    margin-right: 2px;
}
.icones div{
    margin-right: 10px;
}
.geral{
    display: flex;
}
.status{
    display: flex;
}
.detalhes span{ 
    font-weight: normal;
}
.detalhes p{
    color: black;
    font-size: .75rem;
    font-weight: bold;
}
.moldura-icone{
    display: flex;
    align-items: center;
    height: 15px;
}
.reverter-linha{
    display: flex;
    flex-direction: row-reverse;
}
#smile1,
#smile2,
#smile3{
    background-image: url("src/assets/imagens/smile-transparentev2.png");
    background-size: 14px 13px;
}

#smile1:hover{
    background: url("src/assets/imagens/smilev2.png");
    background-size: 14px 13px;

}
#smile2:hover{
    background: url("src/assets/imagens/smilev2.png");
    background-size: 14px 13px;
}
#smile3:hover{
    background: url("src/assets/imagens/smilev2.png");
    background-size: 14px 13px;
}
#smile2:hover + #smile3{
    background: url("src/assets/imagens/smilev2.png");
    background-size: 14px 13px;
}
#smile1:hover + #smile2{
    background: url("src/assets/imagens/smilev2.png");
    background-size: 14px 13px;
}
#smile1:hover ~ #smile3{
    background: url("src/assets/imagens/smilev2.png");
    background-size: 14px 13px;
}

#sexy1,
#sexy2,
#sexy3{
    background-image: url("src/assets/imagens/coracao-transparentev2.png");
    background-size: 14px 13px;
}

#sexy1:hover{
    background: url("src/assets/imagens/coracaov2.png");
    background-size: 14px 13px;

}
#sexy2:hover{
    background: url("src/assets/imagens/coracaov2.png");
    background-size: 14px 13px;
}
#sexy3:hover{
    background: url("src/assets/imagens/coracaov2.png");
    background-size: 14px 13px;
}
#sexy2:hover + #sexy3{
    background: url("src/assets/imagens/coracaov2.png");
    background-size: 14px 13px;
}
#sexy1:hover + #sexy2{
    background: url("src/assets/imagens/coracaov2.png");
    background-size: 14px 13px;
}
#sexy1:hover ~ #sexy3{
    background: url("src/assets/imagens/coracaov2.png");
    background-size: 14px 13px;
}
#legal1,
#legal2,
#legal3{
    background-image: url("src/assets/imagens/gelo-transparente.png");
    background-size: 14px 13px;
}

#legal1:hover{
    background: url("src/assets/imagens/gelov2.png");
    background-size: 14px 13px;

}
#legal2:hover{
    background: url("src/assets/imagens/gelov2.png");
    background-size: 14px 13px;
}
#legal3:hover{
    background: url("src/assets/imagens/gelov2.png");
    background-size: 14px 13px;
}
#legal2:hover + #legal3{
    background: url("src/assets/imagens/gelov2.png");
    background-size: 14px 13px;
}
#legal1:hover + #legal2{
    background: url("src/assets/imagens/gelov2.png");
    background-size: 14px 13px;
}
#legal1:hover ~ #legal3{
    background: url("src/assets/imagens/gelov2.png");
    background-size: 14px 13px;
}
