<div class="info-container">
    <h2>Bem vindo Gabriel</h2>
    <hr>
    <input class="subnick" type="text">
    <div class="icones">
        <div class="geral">
            <div class="recados">
                <p>recados</p>
                <img src="assets/imagens/lapis.png" width="11" height="11">
                <a>0</a>
            </div>
            <div class="fotos">
                <p>fotos</p>
                <img src="assets/imagens/camera.png" width="13" height="11">
                <a>0</a>
            </div>
            <div class="fan">
                <p>fã</p>
                <img src="assets/imagens/estrela.png" width="11" height="11">
                <a>0</a>
            </div>
        </div>
        <div class="status">
            <div class="confiavel">
                <p>confiavel</p>
                <img src="assets/imagens/smilev2.png" width="11" height="11">
                <img src="assets/imagens/smilev2.png" width="11" height="11">
                <img src="assets/imagens/smilev2.png" width="11" height="11">
            </div>
            <div class="legal">
                <p>legal</p>
                <img src="assets/imagens/gelov2.png" width="11" height="11">
                <img src="assets/imagens/gelov2.png" width="11" height="11">
                <img src="assets\imagens\gelo-transpente.png" width="11" height="11">
            </div>
            <div class="sexy">
                <p>sexy</p>
                <img src="assets/imagens/coracaov2.png" width="11" height="11">
                <img src="assets/imagens/coracao-transparentev2.png" width="11" height="11">
                <img src="assets/imagens/coracao-transparentev2.png" width="11" height="11">
            </div>
        </div>
    </div>
    <hr>
    <div class="detalhes">
        <p>Visualizações de seu perfil: <span>aaaaaa, aaaaaaaa a</span></p>
        <p>Seus visitates recentes: <a>aaaaaaaaaaaaaa</a></p>
        <p>Sua sorte do dia: <span>aaaaaaaaaaaaaaa</span></p>
    </div>

</div>