.messagem-container{
    margin: 0 auto;
}
.messagem-container form{
    background-color: white;
    height: auto;
    padding: 16px 10px 14px 14px;
    margin-bottom: 15px
}
textarea{
    height: 90px;
    width: 90%;
}
.recado{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: #eff7ff;
    margin-bottom: 10px;
}
.info{
    width: 86%;
}
.detalhes{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.detalhes section{
    display: flex;
    align-items: center;
}
.nome{
    display: flex;
    font-size: .9rem;
    font-weight: bold;
    align-items: center;
}
.caixa-recados{
    background-color: white;
    padding: 8px;
}
.data{
    color: grey;
    margin-right: 15px;
    font-size: .72rem;
}
.mensagem{
    font-size: .8rem;
    color:black;
    min-height: 36px;
    word-wrap: break-word;
    white-space: pre-line;
}
.btn-responder{
    font-size: .8rem;
}
.cabecalho * {
    margin-top: 10px ;
}
.cabecalho h3{
    padding-bottom: 10px;
}
.cabecalho p, a{
    font-size: .75rem;
}
.cabecalho p {
    color:black;
}
.moldura-foto-perfil{
    height: 84px;
    width: 84px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.moldura-foto-perfil > img{

    
}