<header>
    <app-navbar></app-navbar>
</header>
<div class="album-container grid-container">
    <div class="perfil">
        <app-coluna-perfil [usuario]="usuario" [nomeUsuario]="nomeUsuario"></app-coluna-perfil>
    </div>
    <div class="album">
        <div *ngIf="!nomeUsuario" class="adicionar-imagem borda">
            <h3>Fotos</h3>
            <label class="btn-simples" for="btn-novo-album">criar álbum</label>
            <input type="button" (click)="exibirCampoNovoAlbum()" id="btn-novo-album" name="btn-novo-album">

            <form (ngSubmit)=enviarAlbum($event) *ngIf="exibirForm" class="form-adicionar-fotos">
                <div class="album-info">
                    <div>
                        <label for="titulo-album">título:</label>
                        <input type="text" placeholder=" digite um título" name="titulo" id="titulo-album">
                    </div>
                    <div>
                        <label for="descricao-album">descrição:</label>
                        <textarea name="descricao-album" id="descricao-album"
                            placeholder="digite uma descrição"></textarea>
                    </div>
                </div>
                <label class="btn-simples" for="btn-adicionar-imagem">adicionar foto</label>
                <input type="file" multiple (change)="adcionarFoto($event)" id="btn-adicionar-imagem" disabl>

                <div class="pre-visualizacao-fotos">
                    <div *ngFor="let foto of fotosCarregadas; let i = index" class="foto-enviada">
                        <div class="moldura-foto">
                            <img src="{{previaFotosCarregadas[i]}}">
                        </div>
                        <div class="foto-enviada-detalhes">
                            <textarea for="aaa" name="{{i}}" placeholder="adicione uma legenda"></textarea>
                            <span>
                                <input type="radio" id="checkbox-capa-album" name="checkbox-capa-album">
                                <label for="checkbox-capa-album">capa álbum</label>
                            </span>
                        </div>
                        <label class="btn-simples" for="btn-remover-foto_{{i}}">x</label>
                        <input type="button" value="{{i}}" (click)="removerFotoCarregada($event)"
                            id="btn-remover-foto_{{i}}">
                    </div>
                </div>
                <label class="btn-simples" for="btn-salvar-album">salvar álbum</label>
                <input id="btn-salvar-album" type="submit">
            </form>
        </div>
        <div class="vitrine borda">
            <h4>Álbuns</h4>
            <div class="caixa-album">
                <div *ngFor="let album of albumsCarregados" class="capa-album">
                    <a routerLink='/album/{{usuario.nomeUsuario}}/{{album.id}}'>
                        <div class="moldura-foto">
                            <img *ngIf="album.fotos[0]" src="{{baseApiUrlFoto}}{{album.fotos[0].nomeFoto}}">
                            <img *ngIf="!album.fotos[0]"  class="foto-default" src="assets\imagens\no-photos.png">
                        </div>
                        <p class="album-titulo">{{album.titulo}}</p>
                    </a>
                </div>
            </div>
        </div>
        <div *ngIf="albumParaExibir && !exibirFotos" class="vitrine borda">
            <h4>{{albumParaExibir.titulo}}</h4>
            <div class="caixa-album">
                <div *ngFor="let foto of albumParaExibir" class="capa-album">
                    <div class="moldura-foto">
                        <img src="{{baseApiUrlFoto}}{{foto.nomeFoto}}">
                    </div>
                    <p class="album-descricao">{{foto.titulo}}</p>
                    <section>
                        <label class="btn-simples" for="btn-editar">editar</label>
                        <input type="submit" id="btn-editar" name="btn-editar">
                        <label class="btn-simples" for="btn-excluir">excluir</label>
                        <input type="button" id="btn-excluir" value="{{albumParaExibir.id}}" name="btn-excluir">
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>