<header>
    <app-navbar></app-navbar>
</header>
<div class="album-container grid-container">
    <div class="perfil">
        <app-coluna-perfil></app-coluna-perfil>
    </div>
    <div class="album">

        <div class="adicionar-imagem borda">
            <h3>Fotos</h3>
            <label class="btn-simples" for="btn-novo-album">criar álbum</label>
            <input type="button" (click)="exibirCampoNovoAlbum()" id="btn-novo-album" name="btn-novo-album">
            <form *ngIf="exibirForm" class="form-adicionar-fotos">
                <div class="album-info">
                    <div>
                        <label for="titulo-album">título:</label>
                        <input type="text" placeholder=" digite um título" name="titulo-album" id="titulo-album">
                    </div>
                    <div>
                        <label for="descricao-album">descrição:</label>
                        <textarea name="descricao-album" id="descricao-album"
                            placeholder="digite uma descrição"></textarea>
                    </div>
                </div>
                <label class="btn-simples" for="btn-adicionar-imagem">adicionar foto</label>
                <input type="button" id="btn-adicionar-imagem" name="btn-adicionar-imagem">
                <div class="pre-visualizacao-fotos">
                    <div class="foto-enviada">
                        <div class="moldura-foto">
                            <img
                                src="https://pm1.narvii.com/7188/69dd5c4a7b6e79e2af612adb6b562131cff49b19r1-625-521v2_hq.jpg">
                        </div>
                        <div class="foto-enviada-detalhes">
                            <textarea placeholder="adicione uma legenda"></textarea>
                            <span>
                                <input type="radio" id="checkbox-capa-album" name="checkbox-capa-album">
                                <label for="checkbox-capa-album">capa álbum</label>
                            </span>
                        </div>
                        <label class="btn-simples" for="btn-remover-foto">x</label>
                        <input type="button" name="btn-remover-foto" id="btn-remover-foto">
                    </div>
                </div>
            </form>
        </div>
        <div class="vitrine borda">
            <h4>Álbuns</h4>
            <div class="caixa-album">
                <div class="capa-album">
                    <div class="moldura-foto">
                        <img
                            src="https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2022/11/08/dragon-ball-z-kai_capa-1ib8sl437lvfm.jpg">
                    </div>
                    <p class="album-descricao">prontos pra porrada</p>
                    <section>
                        <label class="btn-simples" for="btn-editar">editar</label>
                        <input type="submit" id="btn-editar" name="btn-editar">
                        <label class="btn-simples" for="btn-cancelar">excluir</label>
                        <input type="button" id="btn-excluir" name="btn-excluir">
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>