<div class="perfil-social-container">
    <nav>
        <input  type="radio" id="btn-social" name="btn-social" checked>
        <label for="btn-social" class="btn-simples-cortado btn-simples">Social</label>

    </nav>
    <form class="form-perfil-social">
        <ul>

            <li class="cor-nao">
                <label>relacionamento:</label>
                <select id="uf">
                    <option></option>
                </select>
            </li>
            <li class="cor-sim">
                <label for="">aniversário:</label>
                <input type="date">
            </li>
            <li class="cor-sim">
                <label>cidade:</label>
                <select id="uf">
                    <option></option>
                </select>
            </li>
            <li class="cor-nao">
                <label>estado:</label>
                <select id="cidade">
                    <option></option>
                </select>
            </li>
        </ul>


    </form>
</div>
