<div class="autenticao-container">
    <div class="caixa-mensagem borda">
        <div>
            <span>Aviso: </span>
            <p>Este serviço foi desenvolvido com fins exclusivamente didáticos.</p>
        </div>
    </div>
    <div class="apresentacao">

    </div>
    <div class="caixa-login">
        <form class="form-login">
            <ul>
                <li>
                    <p>Acesse o <span>Orkut Angular</span> com sua conta</p>
                </li>
                <li>
                    <label for="login-email">E-mail: </label>
                    <input type="text" id="login-email" name="login-email">
                </li>

                <li>
                    <label for="login-senha">Senha: </label>
                    <input type="password" id="login-senha" name="login-senha">
                </li>

                <li>
                    <input id="btn-login" name="btn-login" value="Login" type="button">
                </li>

            </ul>

        </form>
    </div>
    <div class="caixa-registro">
        <div>
            <p>Ainda não é membro?</p>
            <a>ENTRAR JÁ</a>
        </div>
    </div>
    <div class="rodape">
        <div>
            <p>© 2023 Orkut Angular</p>
        </div>
    </div>
</div>