<header>
    <app-navbar></app-navbar>
</header>

<div class="home-container grid-container">
    <div class="perfil-coluna">
        <app-coluna-perfil [modoEdicao]="modoEdicao" [exibicaoPerfilSocial]="exibicaoPerfilSocial" [usuario]="usuario"
            (onLigarModoEdicao)="ligarModoEdicao()" (onGuardarAlteracao)="guadarAlteracaoRecente($event)"
            (onMudancaFoto)="anexarFotoPerfil($event)" (onSubmit)="enviarAlteracoesPerfil()"></app-coluna-perfil>
    </div>
    <div class="perfil-info">
        <app-perfil-info (onGuardarAlteracao)="guadarAlteracaoRecente($event)" [modoEdicao]="modoEdicao"
            [usuario]="usuario"></app-perfil-info>
    </div>
    <div class="caixa-amizades">
        <app-caixa-amizades></app-caixa-amizades>
    </div>
    <div class="caixa-comunidades"></div>
</div>
<footer>

</footer>