.home-container{
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "perfil info amizades"
    "perfil info comunidades";

}
.home-container * {
    display: flex;
    border: 1px solid green;
    justify-content: center;

}
.perfil-coluna{
    grid-area: perfil;
}
.perfil-info{
    grid-area: info;
}

.caixa-amizades{
    grid-area: amizades;
}
.caixa-comunidades{
    grid-area: comunidades;
}

footer{
    height: 200px;
    background-color: yellow;
}