.home-container{
    display: grid;
    max-width:90vw;
    min-height: 80vh;
    margin: 0 auto;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "perfil info amizades"
    "perfil info comunidades"
}
.perfil-coluna{
    grid-area: perfil;
}
.perfil-info{
    grid-area: info;
}

.caixa-amizades{
    grid-area: amizades;
}
.caixa-comunidades{
    grid-area: comunidades;
}

footer{
    height: 200px;
    background-color: yellow;
}